@font-face {
    font-family: 'NomDeVotrePolice';
    src: url('../font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'NomDeVotrePolice', sans-serif;
    display: flex;
    flex-direction: column;
}


nav{
    background-color: black;
    width: 100%;
    height: 11%;
    color: #d9d9f8;
    z-index: 1000; 
    box-shadow: 0 5px 30px -20px #DAA520,
                5px 0 30px -15px #DAA520, 
               -5px 0 30px -15px #DAA520, 
               inset 0 10px 20px -10px #DAA520; 

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            transition: 0.2s ease-in-out;

            svg{
                height: 40%;
                width: 40%;

                fill: #d9d9f8; 
                stroke: #d9d9f8; 
            }

            p{
                color: #d9d9f8;            
            }
        }

        li:hover{
            cursor: pointer;
            transform: translateY(-3%);
            transition: 0.2s ease-in-out;
        }
    }
}

main{
    width: 100%;
    height: 89%;
    overflow: hidden;        
}

.container{
    width: 100%;
    height: 100%;
}

#logo{ 
    overflow: hidden;

    .carousel {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .carousel-container {
        display: flex;
        transition: transform 0.5s ease;
        
    }
    
    .carousel-item {
        flex: 0 0 auto;
        width: 100%;
    }
    
    .carousel-item img {
        width: 100%;
        height: auto;
    }
    
}
#mariage{

}
#prestataires{

}
#invites{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1;
    }

    .liste_invites{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #00000046;


        .title{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 10%;
            border-radius: 20px;
            background-color:  rgb(0, 0, 0);

            h1{
                letter-spacing: 2px;
            }
        }

        .liste{
            display: flex;
            align-items: center;
            width: 60%;
            height: 60%;
            border-radius: 20px;
            background-color:  rgb(0, 0, 0);
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;
            transition: 0.2s ease-in-out;

            ul{
                width: 100%;
                height: 100%;
                margin-left: 3%;


                li {
                    display: inline-block;
                    padding: 10px 20px;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    transition: color 0.4s ease-in-out; 
                }
                
                li::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px; 
                    background-color: #DAA520;
                    transition: width 0.4s ease-in-out; 
                }
                
                li:hover::before {
                    width: 97%; 
                }
                
                li:hover {
                    color: #DAA520; 
                }
            }
        }
        .liste:hover{
            width: 70%;
            box-shadow: 0 0 10px 0.5px #DAA520;
            transform: scale(1.01);
        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            height: 7%;
            border-radius: 20px;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;
                height: 90%;
                border-radius: 20px;
                background-color:  rgb(0, 0, 0);
                transition: 0.1s ease-in-out;

    
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.09);
                transition: 0.1s ease-in-out;
                background-color:  rgb(0, 0, 0);
                box-shadow: inset 0 0 5px 0.5px #DAA520,
                    0 0 10px 0.5px #DAA520;
                border: #DAA520 1px solid;
                color: #DAA520;
            }
        }
    }

    .gestion_place{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #0000008c;

        .title{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 10%;
            border-radius: 20px;
            background-color: rgb(0, 0, 0);

            h1{
                letter-spacing: 2px;
            }
        }

        .liste{
            display: flex;
            align-items: center;
            width: 70%;
            height: 60%;
            border-radius: 20px;
            background-color:  rgb(0, 0, 0);
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;
            transition: 0.2s ease-in-out;

            ul{
                width: 100%;
                height: 100%;
                margin-left: 2%;

                li {
                    display: inline-block;
                    padding: 10px 20px;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    transition: color 0.4s ease-in-out; 
                
                li::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px; 
                    background-color: #DAA520; 
                    transition: width 0.4s ease-in-out; 
                
                li:hover::before {
                    width: 97%; 
                }
                
                li:hover {
                    color: #DAA520; 
                }
            }
        }
        .liste:hover{
            width: 80%;
            box-shadow: 0 0 10px 0.5px #DAA520;
            transform: scale(1.01);
        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            height: 7%;
            border-radius: 20px;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 90%;
                border-radius: 20px;
                background-color:  rgb(0, 0, 0);
                transition: 0.1s ease-in-out;

    
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.09);
                transition: 0.1s ease-in-out;
                background-color:  rgb(0, 0, 0);
                box-shadow: inset 0 0 5px 0.5px #DAA520,
                    0 0 10px 0.5px #DAA520;
                border: #DAA520 1px solid;
                color: #DAA520;
            }
        }
    }
}
#messages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;
    background-color: rgb(59, 50, 38);

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 95%;
        height: 95%;
        border-radius: 20px;
        
        .left{
            width: 15%;
            background-color: #000000;
            height: 100%;
            border-radius: 20px 0 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            border-right: #DAA520 1px solid;

            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 10%;
                border-bottom: #DAA520 1px solid;
            }
            ul{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 90%;
                overflow-y: scroll;
                overflow-x: hidden;

                li {
                    display: inline-block;
                    padding: 7%;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    transition: color 0.3s ease-in-out; 
                    width: 90%;
                    margin-left: 5%;

                }
                
                li::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px; 
                    background-color: #DAA520;
                    transition: width 0.3s ease-in-out; 
                }
                
                li:hover::before {
                    width: 97%; 
                }
                
                li:hover {
                    color: #DAA520; 
                }
            }
        }
        .right{
            width: 85%;
            background-color: #0000008a;
            height: 100%;
            border-radius: 0 20px 20px 0;;
        }
    }
}
#aide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;
    
    .search-container{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 10%;

        input{
            width: 10%;
            background-color: #000000;
            border: none;
            padding: 0.5%;
            border-radius: 10px;
            transition: ease-out 0.45s;
            color: #d9d9f8;

        }

        input:hover{
            width: 80%;
        }
    }
    .help-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 3%; 
        overflow-y: scroll;
        max-width: 100%;
        max-height: 90%;
        padding-left: 1%;
        padding-right: 1%;

        .help-item {
            background-color: #000000;
            text-align: center;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3%;
        }
    }
}
#deconnexion{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9f8;
    background-image: url('../media/luxa.org-vignette-pexels-iriser-916340 (1)-modified.jpg');
    background-size: cover;
    background-position: center;

    .deco_container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 25%;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.945);
        border-radius: 40px;
        transition: box-shadow 0.3s;
        transition: 0.2s ease-in-out;

        h1{
            text-align: center;
            width: 100%;
            height: 40%;
        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            flex-direction: row;
            width: 80%;
            height: 20%;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                background-color:  #ffffff;
                transition: 0.1s ease-in-out;
                width: 20%;
                height: 80%;
                color: #000000;

    
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.1s ease-in-out;
                background-color:  #d9d9f8;
                width: 25%;
            }
        }
    }

    .deco_container:hover{
        transform: scale(1.01);
        transition: 0.2s ease-in-out;
        animation: pulse 1s forwards;
        background-color: rgb(0, 0, 0);
        box-shadow:
                    0 0 100px 30px #DAA520;
    
    }
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 #DAA520;
        }
        100% {
            box-shadow: 0 0 500px 5px #DAA520;
        }
    }
}
    }}