@font-face {
    font-family: 'NomDeVotrePolice';
    src: url('../font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    background-color: rgb(134, 134, 134);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'NomDeVotrePolice', sans-serif;
}

nav{
    background-color: black;
    width: 100%;
    height: 11%;
    color: aliceblue;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            transition: 0.2s ease-in-out;

            svg{
                height: 40%;
                width: 40%;

                fill: #ffffff; /* Couleur de remplissage (rouge) */
                stroke: #ffffff; /* Couleur de contour (rouge) */
            }

            p{
                color: white;            
            }
        }

        li:hover{
            cursor: pointer;
            transform: translateY(-3%);
            transition: 0.2s ease-in-out;
        }
    }
}

main{
    
}