@font-face {
    font-family: 'NomDeVotrePolice';
    src: url('../font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'NomDeVotrePolice', sans-serif;
    display: flex;
    flex-direction: column;
}


nav{
    background-color: black;
    width: 100%;
    height: 11%;
    color: #e7e7fa;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            transition: 0.2s ease-in-out;

            svg{
                height: 40%;
                width: 40%;

                fill: #e7e7fa; 
                stroke: #e7e7fa; 
            }

            p{
                color: #e7e7fa;            
            }
        }

        li:hover{
            cursor: pointer;
            transform: translateY(-3%);
            transition: 0.2s ease-in-out;
        }
    }
}

main{
    width: 100%;
    height: 89%;
    overflow-y: hidden;
    background-color: #ccccfa;
        
}

.container{
    width: 100%;
    height: 100%;
}

#logo{ 
    overflow: hidden;

    .carousel {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .carousel-container {
        display: flex;
        transition: transform 0.5s ease;
        
    }
    
    .carousel-item {
        flex: 0 0 auto;
        width: 100%;
    }
    
    .carousel-item img {
        width: 100%;
        height: auto;
    }
    
}
#mariage{

}
#taches{

}
#prestataires{

}
#invites{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #E6E6FA;

    .liste_invites{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


        .title{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 10%;
            border-radius: 20px;
            background-color:  rgb(84, 40, 40);

            h1{
                letter-spacing: 2px;
            }
        }

        .liste{
            display: flex;
            align-items: center;
            width: 80%;
            height: 60%;
            border-radius: 20px;
            background-color:  rgb(84, 40, 40);
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;

            ul{
                width: 100%;
                height: 100%;
                margin-left: 3%;


                li{
                    width: 97%;
                    height: 7%;
                    border-bottom: 1px solid black ;
                    margin-right: 3%;
                    display: flex;
                    align-items: center;
                }
            }

        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            height: 7%;
            border-radius: 20px;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;
                height: 90%;
                border-radius: 20px;
                background-color:  rgb(84, 40, 40);
                transition: 0.1s ease-in-out;

    
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.1s ease-in-out;
                background-color:  rgb(104, 50, 50);

            }
        }
    }

    .gestion_place{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .title{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 10%;
            border-radius: 20px;
            background-color: rgb(84, 40, 40);

            h1{
                letter-spacing: 2px;
            }
        }

        .liste{
            display: flex;
            align-items: center;
            width: 80%;
            height: 60%;
            border-radius: 20px;
            background-color: rgb(84, 40, 40);
            overflow-y: scroll;
            overflow-x: hidden;
            
            ul{
                width: 100%;
                height: 100%;
                margin-left: 2%;

                li{
                    width: 98%;
                    height: 7%;
                    border-bottom: 1px solid #000000 ;
                    margin-right: 2%;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            height: 7%;
            border-radius: 20px;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 90%;
                border-radius: 20px;
                background-color: rgb(84, 40, 40);
                transition: 0.1s ease-in-out;
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.1s ease-in-out;
                background-color:  rgb(104, 50, 50);

            }
        }
    }
}
#messages{

}
#budget{

}
#aide{

}
#deconnexion{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9f8;
    background-image: url('../media/luxa.org-vignette-pexels-iriser-916340 (1)-modified.jpg');
    background-size: cover;
    background-position: center;

    .deco_container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 25%;
        width: 50%;
        background-color: rgb(0, 0, 0);
        border-radius: 40px;
        transition: box-shadow 0.3s;
        transition: 0.2s ease-in-out;

        h1{
            text-align: center;
            width: 100%;
            height: 40%;
        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            flex-direction: row;
            width: 80%;
            height: 20%;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                background-color:  #d9d9f8;
                transition: 0.1s ease-in-out;
                width: 20%;
                height: 80%;
                color: #000000;

    
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.1s ease-in-out;
                background-color:  #c3c3fa;
                width: 25%;
            }
        }
    }

    .deco_container:hover{
        transform: scale(1.01);
        transition: 0.2s ease-in-out;
        animation: pulse 1s forwards;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 200px 75px rgba(0, 0, 0, 0.2);
    }
}
