@font-face {
    font-family: 'NomDeVotrePolice';
    src: url('../font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;

}

body {
    background-color: rgb(163, 84, 84);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'NomDeVotrePolice', sans-serif;
}

.container_back{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav{
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 14%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo_container{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_carre{
    width: 97.29%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.logo_cercle{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
}

.logo_container img{
    width: 50%;
}

.nav_container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.nav_container ul{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;

}

.nav_container ul li{
    overflow-y: hidden;
    position: relative;
    width: 90%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15%;
    flex-direction: row;
    transition: 0.2s ease-in-out;

}

.nav_container ul li:hover{
    cursor: pointer;
    transform: translateX(3%);
    transition: 0.2s ease-in-out;
}

.nav_container ul li p{
    margin-left: 10%;
    color: white;

}
ul .svg{
    width: 20%;
    fill: #ffffff; /* Couleur de remplissage (rouge) */
    stroke: #ffffff; /* Couleur de contour (rouge) */
}
.container_front{
    position: relative;
    background-color: rgb(221, 221, 221);
    width: 86%;
    height: 100%;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data{
    width: 95%;
    height: 95%;
    border-radius: 50px;
}

#mariages{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;

}
#mariages .left{
    position: relative;
    height: 100%;
    width: 93%;
}

#mariages .left .left_top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 16%;

    .user{
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;

        .user_left{
            height: 100%;   
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-between;

            .user_left_son{
                height: 100%;   
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                justify-content: space-between;

                p{
                    text-align: center;
                    height: 18%;
                    width: 100%;
                    
                }
                .user_data{
                    width: 100%;
                    height: 78%;
                    background-color: rgb(0, 0, 0); 
                    display: flex;
                    flex-direction: row;
                    border-radius: 40px;


                    .photo{
                        width: 20%;
                        height: 100%;
    
                    }

                    .text{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: white;

                        .nom{
                            width: 100%;
                            height: 50%;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            font-size: 125%;
                            font-weight: bolder;

    
                        }
                        .date{
                            width: 100%;
                            height: 50%;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            font-size: 125%;
                        }
                    }
                }
            }
        }
        .user_right{
            height: 100%;   
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            justify-content: space-around;
    

            .user_right_son{
                height: 100%;   
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                justify-content: space-between;

                p{
                    text-align: center;
                    height: 18%;
                    width: 100%;
                }

                .svg_container{
                    width: 100%;
                    height: 78%;
                    background-color: rgb(81, 63, 63); 
                    border-radius: 40px;
                }
            }
        }
    }

    .search{
        width: 100%;
        height: 26%;

        .search_bar{
            position: relative;
            left: 2.5%;
            top: 10%;
            width: 70%;
            height: 90%;
            background-color: #654141;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            p{
                display: flex;
                align-items: center;
                width: 90%;
                text-align: left;
                margin-left: 3%;
            }

            svg{
                display: flex;
                align-items: center;
                width: 2.5%;
            }
        }
    }
}


#mariages .right{
    position: relative;
    height: 100%;
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mariages .right .right_top{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;

    .circle{
        border-radius: 50%;
        height: 35%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;

        svg{
            width: 50%;
        }
    
    }
}

#mariages .right .right_bottom{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;


    .circle{
        border-radius: 50%;
        height: 60%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;

        svg{
            width: 50%;
        }
    }
}