@font-face {
    font-family: 'NomDeVotrePolice1';
    src: url('../font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NomDeVotrePolice2';
    src: url('../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NomDeVotrePolice3';
    src: url('../font/PlayfairDisplaySC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'NomDeVotrePolice1', sans-serif;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 11%;
    color: #d9d9f8;
    z-index: 1000; 
    box-shadow: 0 5px 30px -20px #DAA520, 
                5px 0 30px -15px #DAA520, 
               -5px 0 30px -15px #DAA520,
               inset 0 10px 20px -10px #DAA520; 

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            transition: 0.2s ease-in-out;

            svg{
                height: 40%;
                width: 40%;

                fill: #d9d9f8; 
                stroke: #d9d9f8; 
            }

            p{
                color: #d9d9f8;            
            }
        }

        li:hover{
            cursor: pointer;
            transform: translateY(-3%);
            transition: 0.2s ease-in-out;
        }
    }
}

main{
    position: absolute;
    top: 11%;
    width: 100%;
    height: 89%;
    overflow-y: scroll;

}

.conf{
    height: 100%; 
    width: 100%;
    overflow-y: scroll; 
    position: absolute;
    top: 0;
    left: 0;

    .data{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 325%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;

        h1{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 275%;
            height: 4%;

        }
        ul{
            width: 100%;
            height: 96%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            margin-bottom: 3%;

            li{
                width: 80%;
                height:auto ;
                display: flex;
                align-items: left;
                justify-content: center;
                justify-content: space-around;
                flex-direction: column;
                font-family: NomDeVotrePolice1 ;

                h2{
                    font-size: 150%;
                    margin-bottom:2%;
                    letter-spacing: 2px;
                    font-weight: bold;
                    transition: 0.3s ease-in-out all;

                }

                p{
                    opacity: 0.70;
                    font-size: 110%;
                    line-height: 1.7;
                    margin-left: 2%;
                    transition: 0.4s ease-in-out all;

                }


            }

            li:hover h2{
                color: #DAA520;
            }

            li:hover p{
                opacity: 1;

            }
        }

    }
}

#aide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;
    
    .search-container{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 10%;

        input{
            width: 10%;
            background-color: #000000da;
            border: none;
            padding: 0.5%;
            border-radius: 10px;
            transition: ease-out 0.45s;
            color: #d9d9f8;

        }

        input:hover{
            width: 80%;
        }
    }

    .help-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 3%; 
        overflow-y: scroll;
        max-width: 100%;
        max-height: 90%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        padding-top: 2%;

        .help-item {
            background-color: #000000da;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
            padding: 2%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
            transition: 0.4s ease-in-out all;

            h2{
                width: 95%;
                margin-left: 3%;
                margin-bottom: 3%;
                transition: 0.4s ease-in-out all;

            }

            p{
                width: 96%;
                margin-left: 2%;
                opacity: 0.85;
                transition: 0.4s ease-in-out all;

            }
        }

        .help-item:hover{
            transform: scale(1.01);
            background-color: #000000cb;
        }

        .help-item:hover h2{
            color: #DAA520;
            margin-left: 5%;
        }
        .help-item:hover p{
            opacity: 1;
        }
    }
}

.contact{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;

    h1{
        height: 7%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
            font-size: 275%;
        font-family: 'NomDeVotrePolice1', sans-serif;

    }

    form{
        height: 83%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        

        input:not(#button){
            width: 60%;
            height: auto;
            padding: 1%;
            border: none;
            background-color: #daa52091;
            font-size: 125%;
            border-radius: 10px;
            font-family: 'NomDeVotrePolice1', sans-serif;
            transition: ease-in-out 0.3s all;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
        }

        textarea{
            text-align: left;
            height: 40%;
            padding: 1%;
            border: none;
            background-color: #daa52091;
            font-size: 125%;
            border-radius: 10px;
            width: 60%;
            font-family: 'NomDeVotrePolice1', sans-serif;
            resize: none;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 1%;
            transition: ease-in-out 0.3s all;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
        }

        input:hover:not(#button), textarea:hover{
            width: 61%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
        }

        #button{
            position: relative;
            left: -15%;
            width: 30%;
            height: auto;
            padding: 1%;
            border: none;
            background-color: #daa52091;
            font-size: 125%;
            border-radius: 10px;
            font-family: 'NomDeVotrePolice1', sans-serif;
            transition: ease-in-out 0.4s all;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
        }

        #button:hover{
            background-color: #000000ad;
            font-weight: bolder;
            margin-top: 1.5%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
        }
    }
}
