@font-face {
    font-family: 'NomDeVotrePolice1';
    src: url('../font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NomDeVotrePolice2';
    src: url('../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NomDeVotrePolice3';
    src: url('../font/PlayfairDisplaySC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'NomDeVotrePolice1', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav{
    background-color: black;
    width: 100%;
    height: 11%;
    color: #d9d9f8;
    z-index: 1000; 
    box-shadow: 0 5px 30px -20px #DAA520, 
                5px 0 30px -15px #DAA520, 
               -5px 0 30px -15px #DAA520,
               inset 0 10px 20px -10px #DAA520; 

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            transition: 0.2s ease-in-out;

            svg{
                height: 40%;
                width: 40%;

                fill: #d9d9f8; 
                stroke: #d9d9f8; 
            }

            p{
                color: #d9d9f8;            
            }
        }

        li:hover{
            cursor: pointer;
            transform: translateY(-3%);
            transition: 0.2s ease-in-out;
        }
    }
}

main{
    position: absolute;
    top: 11%;
    width: 100%;
    height: 89%;
}

#messages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 95%;
        height: 95%;
        border-radius: 20px;
        
        .left{
            width: 15%;
            background-color: #000000f6;
            height: 100%;
            border-radius: 20px 0 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            border-right: #DAA520 1px solid;

            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 10%;
                border-bottom: #DAA520 1px solid;
            }
            ul{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 90%;
                overflow-y: scroll;
                overflow-x: hidden;

                li {
                    display: inline-block;
                    padding: 7%;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    transition: color 0.3s ease-in-out; 
                    width: 90%;
                    margin-left: 5%;

                }
                
                li::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px; 
                    background-color: #DAA520;
                    transition: width 0.3s ease-in-out; 
                }
                
                li:hover::before {
                    width: 97%; 
                }
                
                li:hover {
                    color: #DAA520; 
                }
            }
        }
        .right{
            width: 85%;
            background-color: #000000ee;
            height: 100%;
            border-radius: 0 20px 20px 0;
            display: flex;
            flex-direction: column;

            .messages_container{
                width: 100%;
                height: 87.5%;

            }

            .barre{
                width: 100%;
                height: 12.5%;
                display: flex;
                flex-direction: row;
                border-top: #DAA520 1px solid;

                .write{
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    textarea{
                        width: 65%;
                        height: 55%;
                        border: none;
                        border-radius: 10px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        resize: none;
                        text-align: left;
                        vertical-align: top; 
                        padding: 0.5%;
                    }
    
                }
                .send{
                    width: 10%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg{
                        width: 75%;
                        height: 75%;
                        transition: 1s ease-in-out; 
                        cursor: pointer;
                        padding: 10%;
                        transition: 0.4s ease-in-out;

                        path{
                            stroke: #ffffff;
                        }
                    }

                    svg:hover path{
                        stroke: #DAA520;
                    }
                }
            }
        }
    }

}

#aide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;
    
    .search-container{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 10%;

        input{
            width: 10%;
            background-color: #000000;
            border: none;
            padding: 0.5%;
            border-radius: 10px;
            transition: ease-out 0.45s;
            color: #d9d9f8;

        }

        input:hover{
            width: 80%;
        }
    }

    .help-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 3%; 
        overflow-y: scroll;
        max-width: 100%;
        max-height: 90%;
        padding-left: 1%;
        padding-right: 1%;

        .help-item {
            background-color: #000000;
            text-align: center;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2%;
        }
    }
}

#deconnexion{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9f8;
    background-image: url('../media/luxa.org-vignette-pexels-iriser-916340 (1)-modified.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;


    .deco_container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 25%;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.945);
        border-radius: 40px;
        transition: box-shadow 0.3s;
        transition: 0.2s ease-in-out;

        h1{
            text-align: center;
            width: 100%;
            height: 40%;
        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            flex-direction: row;
            width: 80%;
            height: 20%;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color:  #ffffff;
                transition: 0.1s ease-in-out;
                width: 20%;
                height: 80%;
                color: #000000;

    
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.1s ease-in-out;
                background-color:  #d9d9f8;
                width: 25%;
            }
        }
    }

    .deco_container:hover{
        transform: scale(1.01);
        transition: 0.2s ease-in-out;
        animation: pulse 1s forwards;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 100px 30px #DAA520;
    
    }
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 #DAA520;
        }
        100% {
            box-shadow: 0 0 500px 5px #DAA520;
        }
    }
}

#prestations{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    .data{
        width: 75%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #000000;

        .title{
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                text-align: center;
            }
        }

        .description{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .left{
                background-color: rgb(255, 255, 255);
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .photos{
                    width: 95%;
                    height: 97.5%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: top;
                    flex-direction: column;
                    border-radius: 10px;
                    box-shadow: 0 0 10px 0.5px #000000;

                    img{
                        width: 90%;
                        border-radius: 10px;
                        border: #000000 solid 2px;
                        margin-bottom: 2%;
                    }
                }
    
            }

            .right{
                background-color: rgb(255, 255, 255);
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .right_son{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-content: space-around;
                    flex-direction: column;

                    p{
                        overflow-y: scroll;
                        overflow-x: hidden;
                        width: 95%;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }

    .data_modifie{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        justify-content: space-around;
        border-left: #daa52056 1px solid;

        h2{
            text-align: center;
            width: 80%;
        }

        input{
            width: 80%;
            margin-bottom: 5%;
            border-radius: 2px;
            border: none;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
            padding: 0.5%;
            background-color: #d9d9f8;    


        }
        textarea{
            width: 80%;
            height: 12%;
            margin-bottom: 5%;
            overflow-y: scroll;
            overflow-x: hidden;
            resize: none;
            text-align: left;
            vertical-align: top; 
            padding: 0.5%;
            border-radius: 5px;
            border: none;
            background-color: #d9d9f8;    
        }

        label{
            width: 80%;
        }

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            border-radius: 20px;
            background-color: #d9d9f8;
            transition: 0.1s ease-in-out;
            border: none;
            padding: 2%;
            transition: 0.2s ease-in-out;
        }

        button:hover{
            cursor: pointer;
            background-color:  rgb(0, 0, 0);
            box-shadow: inset 0 0 5px 0.5px #DAA520,
                0 0 10px 0.5px #DAA520;
            color: #DAA520;
        }
    }
}

#accueil{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    overflow: scroll;

    .top{
        position: absolute;
        top: 0;
        background-color: aqua;
        width: 100%;
        height: 50%;
        border-bottom: solid 2px black;
        display: flex;
        align-items: center;
        justify-content: center;

        .carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #8f5050;
            overflow: hidden;

            .carousel-inner{
                width: 100%;
                height: 100%;
                transition: transform 0.5s ease;
                background-color: #d6a8a8;
                display: flex;

                .carousel-item {
                    transition: opacity 1s ease-in-out;
                    min-width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }    
        }

        .title{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            flex-direction: column;
            height: 40%;
            width: 90%;
            color: #d9d9f8;
            
            h1{
                text-align: center;
                width: 100%;
                font-size: 470%;
                letter-spacing: 4px;
                padding: 1%;
                padding-left: 2%;
                padding-right: 2%;
                border-radius: 17px;
                text-shadow: 1px 1px 30px #000000;
                font-family: 'NomDeVotrePolice3', sans-serif;

            }
            
            p{
                font-size: 125%;
                border-radius: 17px;
                padding: 0.5%;
                width: 70%;
                text-align: center;
                font-style: italic;
                font-weight: bolder;
                text-shadow: 1px 1px 15px #000000;
                font-family: 'NomDeVotrePolice2', sans-serif;
                letter-spacing: 1px;
            }
        }

        .boutons{
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #8f5050;

            .carousel-control-prev, .carousel-control-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                padding: 0.5%;
                padding-left: 1%;
                padding-right: 1%;
                border-radius: 10px;
                cursor: pointer;
                transition: 0,5s ease-in-out;
            }
            .carousel-control-prev {
                left: 1%;
            }
            .carousel-control-next {
                right: 1%;
            } 

            .carousel-control-prev:hover, .carousel-control-next:hover{
                background-color: rgba(0, 0, 0, 0.75);

            }
        }

    }

    .bottom{
        position: absolute;
        top: 50%;
        background-color: #d9d9f8;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .description{
            width: 50%;
            height: 100%;
            position: relative;
            background-color: #000000;

            .text{
                position: relative;
                left: 0;
                top: 10%;
                width: 100%;
                height: 65%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                justify-content: space-around;

                p{
                    color: #d9d9f8;

                    width: 80%;
                    overflow-y: scroll;
                    letter-spacing: 1px;
                    font-style: italic;
                }
            }
        }

        .avis{
            position: relative;
            background-color: rgba(0, 0, 0, 0.267);
            width: 50%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 -10px 15px -5px rgba(218, 165, 32, 0.418);

            h2{
                width: 30%;
                text-align: center;
                border-bottom: solid 1px #d9d9f8 ;
                padding-bottom: 2%;
                height: 10%;
                margin-top: 3%;
            }

            ul{
                height: 80%;
                width: 100%;
                list-style-type: none;
                padding: 0;
                margin: 0;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                align-items:center ;
                background-color: #000000;
            
                
                li{
                    margin-top: 4%;
                    margin-bottom: 8%;
                    padding: 2%;
                    width: 95%;
                    border-bottom: 1px solid #d9d9f8;
                
                }
            }
        }
    }

    /*
    .bottom {
        position: absolute;
        top: 50%;
        height: 50%;
        border-left: #000000 solid 2px;
        border-right: #000000 solid 2px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;


        .description{
            width: 100%;
            height: 65%;
            position: relative;
            background-color: #000000;

            .text{
                position: relative;
                left: 0;
                top: 10%;
                width: 100%;
                height: 65%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                justify-content: space-around;

                p{
                    width: 80%;
                    overflow-y: scroll;
                    letter-spacing: 1px;
                    font-style: italic;
                }
            }
        }

        .avis{
            position: relative;
            top: -10%;
            background-color: rgba(0, 0, 0, 0.267);
            width: 100%;
            height: 45%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 -10px 15px -5px rgba(218, 165, 32, 0.418);

            h2{
                width: 30%;
                text-align: center;
                border-bottom: solid 1px #d9d9f8 ;
                padding-bottom: 2%;
                height: 10%;
                margin-top: 3%;
            }

            ul{
                height: 80%;
                width: 100%;
                list-style-type: none;
                padding: 0;
                margin: 0;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                align-items:center ;
                background-color: #000000;
            
                
                li{
                    margin-top: 4%;
                    margin-bottom: 8%;
                    padding: 2%;
                    width: 95%;
                    border-bottom: 1px solid #d9d9f8;
                
                }
            }
        }
    }*/
}
