@font-face {
    font-family: 'NomDeVotrePolice1';
    src: url('../font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NomDeVotrePolice2';
    src: url('../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NomDeVotrePolice3';
    src: url('../font/PlayfairDisplaySC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'NomDeVotrePolice1', sans-serif;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 11%;
    color: #d9d9f8;
    z-index: 1000; 
    box-shadow: 0 5px 30px -20px #DAA520, 
                5px 0 30px -15px #DAA520, 
               -5px 0 30px -15px #DAA520,
               inset 0 10px 20px -10px #DAA520; 

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            transition: 0.2s ease-in-out;

            svg{
                height: 40%;
                width: 40%;

                fill: #d9d9f8; 
                stroke: #d9d9f8; 
            }

            p{
                color: #d9d9f8;            
            }
        }

        li:hover{
            cursor: pointer;
            transform: translateY(-3%);
            transition: 0.2s ease-in-out;
        }
    }
}

main{
    position: absolute;
    top: 11%;
    width: 100%;
    height: 89%;
    overflow: hidden;
}

#messages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 95%;
        height: 95%;
        border-radius: 20px;
        
        .left{
            width: 15%;
            background-color: #000000f6;
            height: 100%;
            border-radius: 20px 0 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            border-right: #DAA520 1px solid;

            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 10%;
                border-bottom: #DAA520 1px solid;
            }
            ul{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 90%;
                overflow-y: scroll;
                overflow-x: hidden;

                li {
                    display: inline-block;
                    padding: 7%;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    transition: color 0.3s ease-in-out; 
                    width: 90%;
                    margin-left: 5%;

                }
                
                li::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px; 
                    background-color: #DAA520;
                    transition: width 0.3s ease-in-out; 
                }
                
                li:hover::before {
                    width: 97%; 
                }
                
                li:hover {
                    color: #DAA520; 
                }
            }
        }
        .right{
            width: 85%;
            background-color: #000000ee;
            height: 100%;
            border-radius: 0 20px 20px 0;
            display: flex;
            flex-direction: column;

            .messages_container{
                width: 100%;
                height: 87.5%;

            }

            .barre{
                width: 100%;
                height: 12.5%;
                display: flex;
                flex-direction: row;
                border-top: #DAA520 1px solid;

                .write{
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    textarea{
                        width: 65%;
                        height: 55%;
                        border: none;
                        border-radius: 10px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        resize: none;
                        text-align: left;
                        vertical-align: top; 
                        padding: 0.5%;
                    }
    
                }
                .send{
                    width: 10%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg{
                        width: 75%;
                        height: 75%;
                        transition: 1s ease-in-out; 
                        cursor: pointer;
                        padding: 10%;
                        transition: 0.4s ease-in-out;

                        path{
                            stroke: #ffffff;
                        }
                    }

                    svg:hover path{
                        stroke: #DAA520;
                    }
                }
            }
        }
    }

}

#aide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    color: #d9d9f8;
    
    .search-container{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 10%;

        input{
            width: 10%;
            background-color: #000000;
            border: none;
            padding: 0.5%;
            border-radius: 10px;
            transition: ease-out 0.45s;
            color: #d9d9f8;

        }

        input:hover{
            width: 80%;
        }
    }

    .help-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 3%; 
        overflow-y: scroll;
        max-width: 100%;
        max-height: 90%;
        padding-left: 1%;
        padding-right: 1%;

        .help-item {
            background-color: #000000;
            text-align: center;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2%;
        }
    }
}

#deconnexion{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9f8;
    background-image: url('../media/luxa.org-vignette-pexels-iriser-916340 (1)-modified.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;


    .deco_container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 25%;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.945);
        border-radius: 40px;
        transition: box-shadow 0.3s;
        transition: 0.2s ease-in-out;

        h1{
            text-align: center;
            width: 100%;
            height: 40%;
        }

        .boutons{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            flex-direction: row;
            width: 80%;
            height: 20%;

            .bouton{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color:  #ffffff;
                transition: 0.1s ease-in-out;
                width: 20%;
                height: 80%;
                color: #000000;

    
            }
            .bouton:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.1s ease-in-out;
                background-color:  #d9d9f8;
                width: 25%;
            }
        }
    }

    .deco_container:hover{
        transform: scale(1.01);
        transition: 0.2s ease-in-out;
        animation: pulse 1s forwards;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 100px 30px #DAA520;
    
    }
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 #DAA520;
        }
        100% {
            box-shadow: 0 0 500px 5px #DAA520;
        }
    }
}

#prestations{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    .data{
        width: 75%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #000000;

        .title{
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                text-align: center;
            }
        }

        .description{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .left{
                background-color: rgb(255, 255, 255);
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .photos{
                    width: 95%;
                    height: 97.5%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: top;
                    flex-direction: column;
                    border-radius: 10px;
                    box-shadow: 0 0 10px 0.5px #000000;

                    img{
                        width: 90%;
                        border-radius: 10px;
                        border: #000000 solid 2px;
                        margin-bottom: 2%;
                    }
                }
    
            }

            .right{
                background-color: rgb(255, 255, 255);
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .right_son{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-content: space-around;
                    flex-direction: column;

                    p{
                        overflow-y: scroll;
                        overflow-x: hidden;
                        width: 95%;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }

    .data_modifie{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        justify-content: space-around;
        border-left: #daa52056 1px solid;

        h2{
            text-align: center;
            width: 80%;
        }

        input{
            width: 80%;
            margin-bottom: 5%;
            border-radius: 2px;
            border: none;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
            padding: 0.5%;
            background-color: #d9d9f8;    


        }
        textarea{
            width: 80%;
            height: 12%;
            margin-bottom: 5%;
            overflow-y: scroll;
            overflow-x: hidden;
            resize: none;
            text-align: left;
            vertical-align: top; 
            padding: 0.5%;
            border-radius: 5px;
            border: none;
            background-color: #d9d9f8;    
        }

        label{
            width: 80%;
        }

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            border-radius: 20px;
            background-color: #d9d9f8;
            transition: 0.1s ease-in-out;
            border: none;
            padding: 2%;
            transition: 0.2s ease-in-out;
        }

        button:hover{
            cursor: pointer;
            background-color:  rgb(0, 0, 0);
            box-shadow: inset 0 0 5px 0.5px #DAA520,
                0 0 10px 0.5px #DAA520;
            color: #DAA520;
        }
    }
}

#accueil{
    height: 100%; 
    width: 100%;
    overflow-y: scroll; 
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;

    .top{
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .carousel-inner{
                width: 100%;
                height: 100%;
                transition: transform 0.5s ease;
                display: flex;

                .carousel-item {
                    transition: opacity 1s ease-in-out;
                    min-width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .carousel-overlay {
                    position: relative;
                }
                
                .carousel-overlay::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.089);
                    z-index: 1;
                }
                
               
            }    
        }

        .title{
            z-index: 3;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 90%;
            width: 90%;
            color: #d9d9f8;
            margin-top: 30%;
            
            h1{
                text-align: center;
                width: 100%;
                font-size: 470%;
                letter-spacing: 4px;
                padding: 1%;
                padding-left: 2%;
                padding-right: 2%;
                border-radius: 17px;
                text-shadow: 0px 0px 15px #000000;
                font-family: 'NomDeVotrePolice3', sans-serif;

            }
            
            p{
                margin-bottom: 2%;
                font-size: 125%;
                border-radius: 17px;
                padding: 0.5%;
                width: 70%;
                text-align: center;
                font-style: italic;
                font-weight: bolder;
                text-shadow: 0px 0px 5px #000000;
                font-family: 'NomDeVotrePolice2', sans-serif;
                letter-spacing: 1px;
            }
        }

        .boutons{
            z-index: 3;
            position:absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #8f5050;

            .carousel-control-prev, .carousel-control-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.89);
                color: white;
                border: none;
                padding: 0.5%;
                padding-left: 1%;
                padding-right: 1%;
                border-radius: 10px;
                cursor: pointer;
                transition: 0,5s ease-in-out;
            }
            .carousel-control-prev {
                left: 1%;
            }
            .carousel-control-next {
                right: 1%;
            } 

            .carousel-control-prev:hover, .carousel-control-next:hover{
                background-color: rgba(0, 0, 0, 0.616);

            }
        }

    }

    .bottom{
        position: absolute;
        top: 100%;
        width: 100%;
        height: 475%;
        overflow-y: hidden;

        .description{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-top: 2px solid black;

            .text{
                align-items: center;
                justify-content: center;
                width: 85%;
                height: 60%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-width: 2px solid black;

                .left{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 65%;
                    width: 30%;
                    justify-content: space-around;
                    flex-direction: column;

                    h2{
                        font-size: 200%;
                        width: 100%;
                        text-align: center;
                    }
                    #ring {
                        height: 50%;
                        width: 50%;
                        transform-origin: center;
                        transition: transform ease-in-out 1s, fill ease-in-out 0.4s;
                        cursor: pointer;
                        border-radius: 50%;
                    }

                    #ring:hover{
                        transform: rotate(360deg);
                        fill: #daa520;
                    
                    }

                    input{
                        border: none;
                        padding: 2%;
                        border-radius: 7px;
                        box-shadow: 0 0 15px 5px #DAA520;
                        transition: all ease-in-out 0.2s;
                        cursor: pointer;
                        font-size: 110%;
                        font-weight: bolder;
                        font-family: 'NomDeVotrePolice2', sans-serif;
                        letter-spacing: 1px;
                        margin-top: 1%;
                    }
    
                    input:hover{
                        background-color: #DAA520;
                        box-shadow: 0 0 15px 5px black;
                    }
                }

                .right{
                    height: 80%;
                    width: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    justify-content: space-around;

                    p{
                        font-size: 125%;
                        font-weight: bolder;
                        letter-spacing: 1px;
                        text-shadow: 0 0 20px  #daa5202d;
                    }
                }
            }
            /*
            .cta{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: rgb(0, 0, 0);
                width: 100%;
                height: 56%;
                background-image: url("../media/pexels-john-andrew-nolia-blazo-341165382-15111007.jpg");
                background-position-x: -15%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover; 
                border-top: 2px black solid;

                input{
                    border: none;
                    padding: 1.5%;
                    border-radius: 7px;
                    box-shadow: 0 0 15px 5px #DAA520;
                    transition: all ease-in-out 0.2s;
                    cursor: pointer;
                    font-size: 110%;
                    font-weight: bolder;
                    font-family: 'NomDeVotrePolice2', sans-serif;
                    letter-spacing: 1px;
                    margin-top: 1%;
                }

                input:hover{
                    background-color: #DAA520;
                    box-shadow: 0 0 15px 5px black;
                }
            }*/
        }

        .proposition{
            position: relative;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            height: 24%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #000000;
            border-top: #000000 solid 2px;

            h2{
                font-size: 225%;
                height: 9%;
                letter-spacing: 2px;
                font-family: 'NomDeVotrePolice2', sans-serif;
                margin-bottom: 1%;

            }

            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);
                gap: 2%;
                width: 75%;
                margin: 0 auto;
                height: 75%;
                transition: all ease-in-out 0.2s;

                .card {
                    border: 1px solid #ccc;
                    padding: 8%;
                    background-color: #daa520b0;
                    border-radius: 15px;
                    margin-top: 1%;
                    margin-bottom: 1%;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.678);
                    transition: all ease-in-out 0.4s;
                    h3{
                        font-size: 125%; 
                    }
                }

                .card:hover{
                    transform: scale(1.05);
                    background-color: #daa520ce;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);

                }
            }

            .grid:hover .card:not(:hover) {
                transform: scale(0.99);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
                background-color: #daa5209a;
                filter: blur(1px);

            }
        }

        .for_prestataire{
            position: relative;
            height: 22%;
            width: 100%;
            overflow: hidden;

            .top{
                position: absolute;
                top: 0;
                height: 30%;
                width: 100%;
                background-color: #7e7e7e;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                border-bottom: #000000 3px solid;
                border-top: #000000 3px solid;

                .left{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1{
                        text-align: center;
                        width: 90%; 
                    }

                }

                .right{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    p{
                        display: flex;
                        align-items: center;
                        font-size:140%;
                        height: 50%;
                        width: 85%;
                        line-height: 1.5;
                        font-family: 'NomDeVotrePolice2', sans-serif;
                    }

                    input{
                        border: none;
                        padding: 1%;
                        border-radius: 7px;
                        box-shadow: 0 0 15px 5px #DAA520;
                        transition: all ease-in-out 0.2s;
                        cursor: pointer;
                        font-size: 110%;
                        font-weight: bolder;
                        font-family: 'NomDeVotrePolice2', sans-serif;
                        letter-spacing: 1px;
    
                    }
                    input:hover{
                        background-color: #DAA520;
                        box-shadow: 0 0 15px 5px black;
                    }
                }

            }

            .bottom{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 30%;
                height: 70%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: left;
                flex-direction: row;
                justify-content: space-around;
                overflow-x: auto;

                h1{
                    position: absolute;
                    top: 7%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 225%;
                    letter-spacing: 2px;
                    font-family: 'NomDeVotrePolice2', sans-serif;
    
                }

                .carousel-container {
                    position: absolute;
                    top: 15%;
                    max-width: 80%;
                    margin: auto;
                    overflow: hidden;
                    background-color: white;
                    border-radius: 15px;


                    .carousel-track-container {
                        overflow: hidden;
                        border-radius: 15px;


                        .carousel-track {
                            display: flex;
                            transition: transform 0.5s ease;
                            padding: 2%;
                            border-radius: 15px;


                            .card{                                
                                box-shadow: 0 0 15px rgba(0, 0, 0, 0.678);
                                min-width: calc(33.33% - 3.33%); 
                                box-sizing: border-box;
                                padding: 20px;
                                text-align: center;
                                margin-left: 1%;
                                margin-right: 1%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                overflow-x: hidden;
                                border-radius: 10px;
                                background-color: #daa520ce;
                            
                                .photo{
                                    position: relative;
                                    top: 10%;
                                    width: 110%;
                                    height: 20%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #000000;
            
                                    img{
                                        margin-top: 10%;
                                        border-radius: 50%;
                                        box-shadow: 0 0 10px black;
                                        max-width: 50%;
                                        height: auto;
                                    }
                                }
            
                                h2{
                                    margin-top: 20%;
                                    position: relative;
                                    height: 30%;
                                    top: 18%;
                                }
            
                                p{
                                    position: relative;
                                    width: 85%;
                                    font-size: 110%;
                                    height: 30%;
                                }
                            }
                        }
                    }

                    button.prev, button.next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(0,0,0,0.5);
                        border: none;
                        color: white;
                        font-size: 2rem;
                        cursor: pointer;
                        padding: 10px;
                        border-radius: 5px;
                        z-index: 3;
                    }
                    
                    button.prev {
                        left: 10px;
                    }
                    
                    button.next {
                        right: 10px;
                    }
                    
                    button.prev:hover, button.next:hover {
                        background-color: rgba(0,0,0,0.8);
                    }
                }
            }
        }

        .avis{
            position: relative;
            height: 12%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #d9d9f8;
            overflow-y: auto; 
            justify-content: space-around;

            h2{
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                text-align: center;
                height: 10%;
                font-size: 225%;
                color: #000000;
                font-weight: bold;
                border-bottom: solid 1px rgba(0, 0, 0, 0.596);
                padding-bottom: 1%;

            }

            .wrapper{
                background-color: #ffffff;
                width: 65%;
                height: 50%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                transition: 0.5s all ease-in-out ;
                display: flex;
                align-items: center;
                gap: 10%;
                overflow-x: scroll;
                overflow-y: hidden;
                scroll-snap-type: x mandatory ;
                box-shadow: 0 0 10px rgb(0, 0, 0);
                margin-top: 5%;

                .card{
                    scroll-snap-align: center;
                    box-sizing: content-box;
                    flex-shrink: 0;
                    background-color: #000000e8;
                    color: #d9d9f8;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    text-align: left;
                    justify-content: space-around;

                    .left{
                        height: 100%;
                        width: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        justify-content: space-around;
                        overflow-x: hidden;

                        h3{
                            width: 90%;
                            text-align: left;
                            font-size: 150%;
                            padding-left: 2%;
                            transition: 0.4s ease-in-out all;
                        }

                        p{
                            width: 90%;
                            text-align: left;
                            height: 50%;
                            padding-left: 2%;
                            padding-right: 2%;
                        }

                        .stars{
                            text-align: left;
                            height: 10%;
                            width: 90%;
                            transition: 0.3s all ease-in-out ;
                            margin-bottom: 1%;
                        }
                    }

                    .right{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 100%;
                        width: 20%;

                        img{
                            border-radius: 20%;
                            background-color: #ffffff;
                            width: 63%;
                            height: 60%;
                            border: none;
                            box-shadow: 0 0 10px #daa520a2;
                        }
                    }
                }
            }
            

            .wrapper:hover .stars{
                color: #DAA520;
            }

            .wrapper:hover h3{
                transform: translateX(5%);
            }

            .wrapper::-webkit-scrollbar {
                width: 10px; /* Largeur de la barre de défilement */
                height: 14px;
            }
            
            .wrapper::-webkit-scrollbar-track {
                background: #f1f1f1; /* Couleur de fond de la piste */
            }
            
            .wrapper::-webkit-scrollbar-thumb {
                background: #DAA520;
            }
            
            .wrapper::-webkit-scrollbar-thumb:hover {
                background: #DAA520;
            }
        }

        .faq{
            position: relative;
            height: 16%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            justify-content: space-around;

            .title{
                width: 100%;

                h2{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    width: 90%;
                    font-size: 230%;
                    color: #000000;
                    font-weight: bold;
                    border-bottom: solid 1px rgba(0, 0, 0, 0.596);
                    padding-bottom: 1%;
                }
            }

            ul{
                margin-bottom: 1%;
                height: 80%;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: space-between;
                flex-direction: column;

                li{
                    
                    border-radius: 15px;
                    width: 100%;
                    background-color: #ffffff;
                    height: 14%;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    padding-left: 2%;
                    padding-right: 2%;
                    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.363), 2px 2px 10px rgba(0, 0, 0, 0.363);
                    transition: 0.4s ease-in-out all;
                    transition-delay: 0.1s;

                    h3{
                        position: relative;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        transition: 0.5s ease-in-out all;
                        font-size: 200%;
                        letter-spacing: 1px;
                        margin-left: 5%;
                    }

                    p{
                        position: relative;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: 0.6s ease-in-out all;
                        font-size: 125%;

                    }
                }

                li:hover{
                    background-color: #DAA520;
                    color: #000000;
                    width: 101%;
                }
                li:hover h3{
                    transform: translateY(-100%);
                    opacity: 0;
                }

                li:hover p{
                    opacity: 1;
                    transform: translateY(-100%);
                }
            }
        }

        .footer{
            position: absolute;
            bottom: 0;
            height: 6%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #000000;
            border-top: #000000 solid 2px ;

            .top_f{
                background-color: rgb(255, 255, 255);
                width: 100%;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                
                .left{
                    width: 50%;
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    h1{
                        margin-left: 50%;
                        margin-bottom: 5%;
                    }
                    p{
                        margin-left: 50%;
                        margin-bottom: 1%;
                        font-size: 110%;
                    }
                }

                .right{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ul{
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        justify-content: space-around;
                        width: 25%;

                        li:not(.title){
                            cursor: pointer;
                            width: 100%;
                            transition: all 0.2s ease-in-out; 
                        }

                        li:not(.title):hover{
                            padding-left: 1%;
                        }

                        h2{
                            margin-left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }

            .bottom_f{
                width: 90%;
                height: 20%;
                border-top: #0000007c 1px solid ;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    height: 80%;
                    font-size: 110%;
                    transition: 0.3s ease-in-out;

                }

                .paiement_type{
                    width: 50%;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;


                    img{
                        height: 80%;
                        margin-left: 5%;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}


